h1{
  font-size: clamp(24px, 5vw, 48px); /* makes sure that  font smallest is 24, 
                                      biggest is 48, and it always takes up 5% of the screen*/
}
h5{
  font-size: clamp(2px, 3vw, 16px);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
}
header, footer {
  background: #222;
  color: #ffffff;
  text-align: center;
  padding: 0.5em;
  height: 10px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(10, 2fr); 
  gap: 4px;
  padding: 64px;
  transform: translateY(-60px);
}
.thumb {
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  height: 20vw;
  width: 10vw;
}
.thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.thumb:hover{
  box-shadow: 0 2px 8px #c40000;
}