h1{
  font-size: clamp(24px, 5vw, 48px); /* makes sure that  font smallest is 24, 
                                      biggest is 48, and it always takes up 5% of the screen*/
}
h5{
  font-size: clamp(2px, 3vw, 16px);
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f8f8f8;
}
header, footer {
  
  top:0px;
  background: #222;
  color: #fff;
  text-align: center;
  border: 5px solid darkgray;
  width: 1000px;
  /*position: fixed;*/
  position: relative;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(10, 2fr); 
  gap: 4px;
  padding: 64px;
  transform: translateY(-60px);
  overflow-y: auto;
  overflow-x: auto;
  max-width: 80%;
}
.thumb {
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  height: 20vw;
  width: 10vw;
}
.thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.thumb:hover{
  box-shadow: 0 2px 8px #c40000;
}
.navbar {
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
  z-index: 2;
}
.navbar .link a{
  color: darkgray;
  text-decoration: none;
  padding: 8px;
  border: 2px solid transparent;
}
.navbar .link a:hover{
  border: 2px solid white;
}